html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    color: white;
    background: maroon;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}


.body--red {
    color: black;
    background: rgb(145, 53, 30);
}

.language__De {
    color: white;
}

.language__button {
    color: black;
}

.footer {
    margin: 0;
    padding-top: 70px;
    text-transform: capitalize;
    font-weight: bold;
}